/* Color Section */

:root {
  --primary-color: linear-gradient(#ffffff, #c1c1c1);
  --secondary-color: linear-gradient(#80C8F6, #3957ed);
  --thirty-color: linear-gradient( 180deg,#Ec0901,#d90404,#960428);
  --four-color: ;
}

@font-face {
    font-family: "SAMEN";
    src: url("../assets/fonts/SAMENTtrial.ttf") format("truetype");
}

/* Html */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1px;
}

body {
  background: #f6f6f6;
  color: rgb(36, 47, 56);
}

/* Style */


.nav {
    position: fixed;         
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);

    padding: 15px 60px;
    background: rgb(235, 235, 235);


    border-radius: 50px;
    z-index: 1000;
}

.nav ul {
    color: #d80000;
    display: flex;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li a {
  color: black;
  text-decoration: none;
}

.nav li a:hover {
  color: #80C8F6;
}

.title {
  font-size: 55px;
  font-weight: 700;
  display: flex;
  align-items: left;
  gap: 20px;

  transform: translateX(-100%);
  animation: revealLeft 1s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
  animation-delay: 0.3s;
}

/* .Himeyorii {
  font-family: SAMEN , serif;
}  */

.desk {
  display: flex;
  transform: translateX(-100%);
  animation: revealLeft 1s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
  animation-delay: 0.4s;
}

.desk1 {
  display: flex;
  transform: translateX(-100%);
  animation: revealLeft 1s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
  animation-delay: 0.5s;
}

.name-wrapper {
  position: relative;
  height: 76px;
  overflow: hidden;
}

.name-slider {
  display: flex;
  flex-direction: column;
  animation: slide 10s cubic-bezier(0.2, 0.8, 0.2, 1) infinite;
}

.name-slider span {
  height: 76px;
  display: flex;
  align-items: center;
  background: var(--thirty-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

/* Animation */

@keyframes anime {
  from {
    opacity: 1;
    transform: translate(0%,-40px);
  }
  to {
    opacity: 1;
    transform: translate(0%,0);
  }
}

@keyframes slide {
  0%,
  45% {
    transform: translateY(0);
  }

  50%,
  95% {
    transform: translateY(-76px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideX {
  0%, 40% {
    transform: translateX(0%);
  }

  50%, 90% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes revealLeft {
  to {
    transform: translateX(0);
  }
}
