/* Color Section */

:root {
  --primary-color: linear-gradient(#ffffff, #c1c1c1);
  --secondary-color: linear-gradient(#80C8F6, #3957ed);
  --thirty-color: linear-gradient( 180deg,#Ec0901,#d90404,#960428);
  --four-color: ;
}

@font-face {
    font-family: "SAMEN";
    src: url("../assets/fonts/SAMENTtrial.ttf") format("truetype");
}

@font-face {
    font-family: "MizunamiDemoRegular";
    src: url("../assets/fonts/MizunamiDemoRegular.ttf") format("truetype");
}

/* Html */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1px;
}

body {
  background: #f6f6f6;
  color: rgb(36, 47, 56);
}

/* Style */

/* .box1 {
  width: 50%;
  height: 700px;
  border: 1px solid black;
}

.box2 {
  width : 50%;
  height: 700px;
  border: 1px solid black;
} */



.nav {
    position: fixed;         
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);

    padding: 15px 60px;
    background: rgb(235, 235, 235);


    border-radius: 50px;
    z-index: 1000;
}

.logo {
  background-image: var(--thirty-color);
  font-family: SAMEN , serif;
  font-size: 40px;
   -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  letter-spacing: 1px;
}

.nav ul {
    color: #d80000;
    display: flex;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li a {
  color: black;
  text-decoration: none;
}

.nav li a:hover {
  color: #80C8F6;
}

.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
  min-height: 100vh;
  padding: 0 40px;
}

.mediaSosial {
  /* border: 1px solid black; */
  padding-right: 95px;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.mediaSosial img {
  height: 24px;
}

.text {
  flex:1;
  /* border: 1px solid black; */
  padding-bottom: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.profile {
  flex: 1 ;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.profile img {
  height: 300px;
  object-fit: cover;
}


.title {
  font-size: 55px;
  font-weight: 700;
  display: flex;
  align-items: left;
  gap: 20px;

  padding: 0px;
}

.H {
  background-image: var(--thirty-color);
  font-family: SAMEN , light;
  font-size: 64px;
   -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  padding: 0px;
} 

.desk {
  display: flex;
}

.desk1 {
  display: flex;
}

.name-wrapper {
  position: relative;
  height: 76px;
  overflow: hidden;
}

.name-slider {
  display: flex;
  flex-direction: column;
}

.name-slider span {
  height: 76px;
  display: flex;
  align-items: center;
  background: var(--thirty-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
